.DS_Store
.AppleDouble
.LSOverride

._*

.Spotlight-V100

.Trashes

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/

*.log
logs/
*.tsbuildinfo

.env
.env.*.local
.env.local

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

ehthumbs.db
Thumbs.db

*.db
*.sql

uploads/
public/uploads/

easi-front/dist/

easi-back/dist/

.cache/
.easi-front.cache/
.easi-back.cache/
.eslintcache

coverage/

*.tgz
*.tar.gz
*.zip

__snapshots__/
test-results/
